@model string

<div>
    <form asp-action="User" asp-controller="Admin" enctype="multipart/form-data" method="post">

        <input id="id" name="id" value="@Model" required hidden />
        <select id="roleName" name="roleName" required >
            @foreach(var r in ViewBag.Roles)
            {
                <option value="@r">@r</option>
            }
        </select>
        <input type="submit" value="Add Role" class="btn" />
    </form>
</div>
