@model List<Comment>
@using WebHw04_Forums.Data;
@inject IAuthorizationService _authorization
@inject ApplicationDbContext _context;
@{
    string marg = ((int)ViewBag.Layer * 3) + "em";
    ViewBag.Layer = (int)ViewBag.Layer + 1;
}

<div style="margin-left: 3em;">
    @foreach (var c in Model)
    {
        <div>
            <p>@c.Content</p>
            <div class="childrenComments">
                @Html.Partial("_comments", ((List<Comment>)ViewBag.Comments).Where(com => com.ParentId == c.Id).ToList())
            </div>
        </div>

        if (ViewBag.userId != null &&
                (await _authorization.AuthorizeAsync(User, MyIdentityData.Policy_NotBanned +
                        _context.Topics.Where(t => t.Posts.Where(p => p.Id == c.PostId).Any()).First().Name)).Succeeded)
        {
            @Html.Partial("_newComment", new Comment() { PostId = c.PostId, ParentId = c.Id, UserId = ViewBag.userId })
        }
    }

</div>

