@model List<Comment> 

<div>Comments</div>

<div class="next">
    @await Html.PartialAsync("_comments", Model)
</div>



@*@foreach(var c in Model)
{
    <div>
        <p>c.UserId</p>
        <p>c.Content</p>
    </div>
}*@
