@model WebHw04_Forums.Models.Comment

<h4>Comment</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostComment" asp-controller="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@Model.UserId" />
                <input asp-for="Time" type="hidden" value="@DateTime.Now" />
                <input asp-for="ParentId" type="hidden" value="@Model.ParentId"  />
                <input asp-for="PostId" type="hidden" value="@Model.PostId"  />
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

